.hero{
    height: calc(100vh - 100px);
    overflow: hidden;
    background: linear-gradient(180deg, #0c0c1d, #1d1d51);
    position: relative;

    .wrapper{
        height: 100%;
        max-width: 1366px;
        margin: auto;

        .text-container{
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;

            h2{
                font-size: 30px;
                letter-spacing: 10px;
                color: rebeccapurple;
            }

            h1{
                font-size: 78px;
                color: white;
            }

            .buttons{
                button{
                    padding: 20px;
                    border: 1px solid white;
                    color: white;
                    font-size: 18px;
                    background-color: transparent;
                    cursor: pointer;
                    border-radius: 10px;
                    margin-right: 20px;
                    font-weight: 300;
                }
            }

            img{
                width: 50px;
            }
        }
    }

    .image-container{
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;        
    }

    .sliding-text{
        position: absolute;
        font-size: 50vh;
        bottom: -120px;
        white-space: nowrap;
        color: #ffffff09;
        width: 50%;
        font-weight: bold;
    }
}